@import '../scss/mixins'; 

.button{
	background-color: #fff;
	height: 100%;
	padding: 20px 0;
}

.contact__button{
	padding: 20px;
    background: #e93e23;
    border-radius: 7px;
    box-shadow: 0 2px 5px 2px;
    color: #fff;
    font-weight: 600;
    float: none;

    @include bp(md) {
    	float: right;
    }
}

.contact__button:after{
	content: "";
	display: table;
	clear: both;
}

.modal{
	width: 500px;
    height: 400px;
    background-color: gray;
    position: fixed;
    top: 0;
    left: 30%;
    right: 30%;
    z-index: 98;
    overflow: auto;
    display: none;
}

.form{
	margin: 60px auto;
	border: 1px solid #ccc;
	color: #000;
	padding: 10px;

	&__input {
		padding: 10px;
	    width: 100%;
	    float: none;
	    margin-top: 20px;

	    @include bp(md) {
	    	width: 50%;
	    	float: left;
	    }
	}
	
	& input{
		font-size: 14px;
		padding: 10px;
		box-sizing: border-box;
		border: 1px solid #999;
		border-radius: 5px;
		width: 100%;
		outline: none;
	}
	& textarea{
		font-size: 14px;
		padding: 10px 10px 50px;
		box-sizing: border-box;
		border-radius: 5px;
		border: 1px solid #999;
		width: 100%;
		outline: none;
	}

	& .textarea{
	    float: left;
	    padding: 10px;
	    width: 100%;
	}

	.submit{
		width:100%;
		padding: 10px;

			&__button {
		    margin: 10px 0;
		    border: 1px solid #999;
		    background: #fff;
		    cursor: pointer;
		}
		@include bp(md) {
			text-align: center;
			max-width: 150px;
			margin: 0 auto;
		}
	}
}

.form:before{
	content: "";
	display: table;
	clear: both;
}

.modal__title{
	h2{
		float: left;
	}

	button{
		float: right;
		padding: 10px;
		margin: 10px;
	}
}

.modal__title:after{
	content: "";
	display: table;
	clear: both;
}

// .form:after{
// 	content: "";
// 	display: table;
// 	clear: both;
// }

// form:after{
// 	content: "";
// 	display: table;
// 	clear: both;
// }

// .textarea:after{
// 	content: "";
// 	display: table;
// 	clear: both;
// }

// .col-6{
// 	width: 100%;
// 	float: none;

// 	@include bp(md) {
// 		width: 50%;
// 		float: left;
// 	}
// }

// .col-6:after{
// 	content: "";
// 	display: table;
// 	clear: both;
// }

// .contact{
// 	margin: 60px auto;
//     color: #000;

//     @include bp(md) {
//     	padding: 10px 40px;
//     }

//     & ul{
//     	& li{
//     		list-style-type: none;
//     		padding: 10px 0;
    		
//     		& a{
//     			color: #256524;
//     			padding-left:0;

//     			@include bp(md) {
//     				padding-left: 10px;
//     			}
//     		}

//     		& .fa{
//     			color: #2b4608;
//     			padding: 5px;
//     			width: 35px;
//     			background-color: #969625;
//     			text-align: center;
//     		}
//     	}
//     }
// }

