@charset "UTF-8";
html, body {
  margin: 0;
  padding: 0; }

body {
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: auto;
  display: flex;
  min-height: 100vh;
  flex-direction: column; }

.academic__section {
  color: #fff;
  height: 100%; }

.academic-curriculumn__section {
  background-color: #fff;
  background-position: 0 60px;
  padding: 30px 0; }
  .academic-curriculumn__section ul {
    display: block;
    width: 100%;
    padding-right: 0;
    text-align: center; }
    .academic-curriculumn__section ul li {
      display: inline;
      padding: 10px;
      font-size: 18px; }
    .academic-curriculumn__section ul li:before {
      content: "• "; }

.col-3 {
  width: 100%; }
  @media (min-width: 1024px) {
    .col-3 {
      width: 33.33%;
      float: left; } }
  .col-3:after {
    content: "";
    display: table;
    clear: both; }

.achievement {
  width: 100%;
  max-height: 100%; }
  .achievement__image {
    padding: 10px; }
    .achievement__image img {
      width: 100%; }
    .achievement__image:hover {
      opacity: .5; }
  .achievement .inner__container {
    height: 100%; }
