body {
  background: #1b2431;
  color: #fff; }

* {
  font-family: 'Source Sans Pro', sans-serif;
  box-sizing: border-box; }

h1, p {
  color: #fff; }

.head__title {
  padding: 20px 0;
  margin: 0;
  background: #273142; }

.head__title--left:after {
  float: left;
  font-size: 20px; }

.head__title--left:after {
  content: '';
  display: table;
  clear: both; }

.head__title--right {
  float: right;
  font-size: 20px; }

.head__title--right:after {
  content: '';
  display: table;
  clear: both; }

.col-8 {
  width: 75%;
  float: left; }

.col-8:after {
  content: "";
  display: table;
  clear: both; }

.col-4 {
  width: 25%;
  float: left; }

.col-4:after {
  content: "";
  display: table;
  clear: both; }

.col-1 {
  width: 100%;
  float: left; }

.col-3 {
  width: 33.33%;
  float: left; }

.col-3:after {
  content: "";
  display: table;
  clear: both; }

.inputs {
  display: block;
  width: 100%; }
  .inputs__text {
    padding: 0 15px; }
    .inputs__text input, .inputs__text option {
      width: 100%;
      font-size: 14px;
      border-radius: 3px;
      margin: 12px 0;
      padding: 12px;
      outline: none;
      background: transparent;
      color: #fff; }
    .inputs__text .placeholder {
      border: 1px solid #313d4f; }
    .inputs__text .hover {
      border: 1px solid #313d4f;
      background: #273244; }
      .inputs__text .hover:hover {
        background: yellowgreen; }
    .inputs__text .focused {
      border: 1px solid #1b92ed;
      background: #273244; }
    .inputs__text .value {
      border: 1px solid #1b92ed; }
    .inputs__text .success {
      border: 1px solid #1bb934; }
    .inputs__text .disabled {
      background: #222c3c;
      border: 1px solid #1b92ed; }
  .inputs__icons {
    display: block; }
    .inputs__icons--left input {
      padding-left: 40px; }
  .inputs__container {
    display: block;
    position: relative; }
    .inputs__container--error {
      border: 1px solid #ed1c24; }
      .inputs__container--error input::placeholder {
        color: #e81c24; }
    .inputs__container .search__button {
      background: transparent;
      position: absolute;
      top: 26px;
      right: 12px;
      color: #fff;
      border: 0;
      outline: none; }
    .inputs__container span {
      background: yellowgreen; }
    .inputs__container .user__button {
      background: red;
      position: absolute;
      color: #fff;
      width: 37px;
      top: 30px;
      outline: none; }
    .inputs__container .fa-times,
    .inputs__container .fa-user-o,
    .inputs__container .fa-check,
    .inputs__container .fa-calendar {
      position: absolute;
      top: 25px;
      padding: 0 10px;
      color: #a8aab7; }
      .inputs__container .fa-times.fa-times,
      .inputs__container .fa-user-o.fa-times,
      .inputs__container .fa-check.fa-times,
      .inputs__container .fa-calendar.fa-times {
        right: 12px;
        display: block;
        color: #ed1c24; }
      .inputs__container .fa-times.fa-check,
      .inputs__container .fa-user-o.fa-check,
      .inputs__container .fa-check.fa-check,
      .inputs__container .fa-calendar.fa-check {
        right: 12px;
        display: block;
        color: #1bb934; }

.label {
  display: block; }
  .label__column {
    padding: 0 15px; }
  .label__container {
    float: left;
    padding: 30px 0; }
    .label__container--left {
      width: 75%; }
    .label__container--right {
      width: 25%; }
  .label__input {
    padding: 15px;
    margin: 10px 0;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid #313d4f;
    position: relative; }
    .label__input input {
      border: none;
      background: transparent;
      outline: 0; }
    .label__input--info span {
      position: absolute;
      top: 55px;
      left: 0;
      right: 0;
      color: #a8aab7; }
      .label__input--info span .fa-info-circle {
        background: transparent; }
    .label__input--checked span {
      position: absolute;
      top: 55px;
      left: 0;
      right: 0;
      color: #1bb934; }
      .label__input--checked span .fa-check-circle {
        background: transparent; }
    .label__input--wrong {
      border: 1px solid #e81c24; }
      .label__input--wrong span {
        position: absolute;
        top: 55px;
        left: 0;
        right: 0;
        color: #e81c24; }
        .label__input--wrong span .fa-times-circle {
          background: transparent; }
      .label__input--wrong input::placeholder {
        color: #e81c24; }
    .label__input textarea {
      background: transparent;
      border: 0;
      outline: 0;
      color: #fff;
      width: 100%; }

.button-container {
  width: 1128px;
  padding-left: 80px; }

.buttons {
  display: block; }
  .buttons ::after {
    content: "";
    display: table;
    clear: both; }
  .buttons button {
    padding: 15px 0;
    text-align: center; }
  .buttons__container {
    display: block;
    color: #fff; }
    .buttons__container--left {
      background: yellowgreen;
      width: 60%; }
      .buttons__container--left .buttons__input {
        float: left;
        width: 79px;
        margin: 05px; }
      .buttons__container--left button {
        width: 100%; }
    .buttons__container--right {
      background: orangered;
      width: 40%; }
      .buttons__container--right .buttons__input {
        width: 100px;
        float: left;
        margin: 0 5px; }
      .buttons__container--right button {
        width: 100%; }

.selects__input {
  position: relative;
  border: 1px solid #313d4f;
  border-radius: 5px;
  padding: 10px;
  margin: 10px; }
  .selects__input--blue {
    border: 1px solid #1b92ed; }
  .selects__input .img1 {
    position: absolute;
    top: 5px;
    bottom: 5px;
    left: 5px;
    border-radius: 50%; }
  .selects__input .img2 {
    position: absolute;
    top: 5px;
    bottom: 5px;
    left: 5px;
    width: 40px;
    height: 28px;
    border-radius: 5px; }
  .selects__input input {
    width: 100%;
    background: transparent;
    border: 0;
    outline: 0;
    color: #fff; }
  .selects__input ::value {
    color: red; }
  .selects__input .select {
    padding-left: 30px; }
  .selects__input .vacation-select {
    padding-left: 40px; }
  .selects__input .filter {
    padding-left: 30px; }
  .selects__input .fa-angle-down {
    position: absolute;
    top: 13px;
    bottom: 13px;
    right: 13px; }
  .selects__input .fa-user-o {
    position: absolute;
    top: 13px;
    bottom: 13px;
    left: 13px; }
  .selects__input .fa-calendar {
    position: absolute;
    top: 13px;
    bottom: 13px;
    left: 13px; }

.dropdown {
  width: 100%; }
  .dropdown form {
    border: 1px solid #313d4f;
    border-radius: 5px;
    margin: 0 15px; }
  .dropdown__input {
    position: relative; }
    .dropdown__input input {
      border: 1px solid #313d4f;
      width: 100%;
      padding: 15px 0 15px 32px;
      font-size: 14px;
      color: #fff;
      background: transparent;
      outline: 0;
      border-left: 0;
      border-right: 0; }
    .dropdown__input input:hover {
      background: #2c3749;
      color: #2ea2f8; }
    .dropdown__input .fa {
      position: absolute;
      bottom: 15px;
      top: 15px; }
    .dropdown__input .fa-user-o,
    .dropdown__input .fa-cog,
    .dropdown__input .fa-map-marker,
    .dropdown__input .fa-power-off,
    .dropdown__input .fa-calendar {
      left: 10px; }
    .dropdown__input .fa-angle-down {
      right: 10px; }
    .dropdown__input .fa-search {
      right: 10px; }

.search {
  padding-top: 20px;
  padding-bottom: 20px; }
  .search img {
    position: absolute;
    top: 10px;
    left: 5px;
    border-radius: 50%; }
  .search .dropdown__images input {
    padding-left: 40px; }

.col-4 {
  width: 25%;
  float: left; }

.scrollbar {
  margin-left: 30px;
  border: 1px solid #313d4f;
  border-radius: 5px;
  float: right;
  width: 100%;
  height: 300px;
  background: transparent;
  overflow-y: scroll;
  margin-bottom: 25px; }

.force-overflow {
  min-height: 450px; }

.wrapper {
  text-align: center;
  margin: auto; }

/*
   *  STYLE 2
   */
#style-2::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #273142; }

#style-2::-webkit-scrollbar {
  width: 12px;
  background-color: transparent; }

#style-2::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #3d4a5e; }

.boxes .boxes__input input :indeterminate + label {
  background: blue; }

.boxes .toggle .switch {
  position: relative;
  display: block;
  width: 35px;
  height: 20px;
  margin: 10px 0;
  /* Rounded sliders */ }
  .boxes .toggle .switch input {
    display: none; }
  .boxes .toggle .switch .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000;
    -webkit-transition: .4s;
    transition: .4s; }
  .boxes .toggle .switch .slider:before {
    position: absolute;
    top: 2px;
    content: "";
    height: 15px;
    width: 15px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s; }
  .boxes .toggle .switch input:checked + .slider {
    background-color: limegreen; }
  .boxes .toggle .switch input:focus + .slider {
    box-shadow: 0 0 1px #2196F3; }
  .boxes .toggle .switch input:checked + .slider:before {
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(16px);
    transform: translateX(16px); }
  .boxes .toggle .switch .slider.round {
    border-radius: 34px; }
  .boxes .toggle .switch .slider.round:before {
    border-radius: 50%; }

.boxes .profile__avatar {
  position: relative;
  width: 36px;
  height: 36px; }
  .boxes .profile__avatar img {
    width: 100%;
    border-radius: 50%; }
  .boxes .profile__avatar .fa {
    position: absolute;
    top: 10px;
    bottom: 10px;
    left: 45px; }

.boxes .profile__input {
  position: relative;
  border: 1px solid #313d4f;
  border-radius: 5px;
  padding: 10px;
  margin: 10px; }
  .boxes .profile__input input {
    border: 0;
    background: transparent;
    color: #fff;
    outline: 0; }
  .boxes .profile__input input:active {
    color: red; }

.boxes .profile .hidden {
  display: none; }
