.button {
  background-color: #fff;
  height: 100%;
  padding: 20px 0; }

.contact__button {
  padding: 20px;
  background: #e93e23;
  border-radius: 7px;
  box-shadow: 0 2px 5px 2px;
  color: #fff;
  font-weight: 600;
  float: none; }
  @media (min-width: 768px) {
    .contact__button {
      float: right; } }

.contact__button:after {
  content: "";
  display: table;
  clear: both; }

.modal {
  width: 500px;
  height: 500px;
  background-color: gray;
  position: fixed;
  top: 20px;
  left: 30%;
  right: 30%;
  z-index: 98;
  overflow: auto;
  display: none; }

.form:before {
  content: "";
  display: table;
  clear: both; }

.modal__title h2 {
  float: left;
  padding: 10px;
  margin: 10px;
  color: #fff; }

.modal__title button {
  float: right;
  padding: 10px;
  margin: 10px;
  border-radius: 50%;
  outline: none;
  background-color: gray;
  border: #fff;
  color: #fff; }

.modal__title:after {
  content: "";
  display: table;
  clear: both; }

.form {
  margin: 60px auto;
  border: 1px solid #ccc;
  color: #000;
  padding: 10px; }
  .form__input {
    padding: 10px;
    width: 100%;
    float: none;
    margin-top: 20px; }
    @media (min-width: 768px) {
      .form__input {
        width: 50%;
        float: left; } }
    .form__input input {
      font-size: 14px;
      padding: 10px;
      box-sizing: border-box;
      border: 1px solid #999;
      border-radius: 5px;
      width: 100%;
      outline: none; }

.textarea {
  float: left;
  padding: 10px;
  width: 100%; }
  .textarea textarea {
    font-size: 14px;
    padding: 10px 10px 50px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #999;
    width: 100%;
    outline: none; }

.submit {
  width: 100%;
  padding: 10px; }
  .submit__button {
    margin: 10px 0;
    border: 1px solid #999;
    background: #fff;
    cursor: pointer; }
  @media (min-width: 768px) {
    .submit {
      text-align: center;
      max-width: 150px;
      margin: 0 auto; } }
