html, body {
  margin: 0;
  padding: 0; }

body {
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: auto;
  display: flex;
  min-height: 100vh;
  flex-direction: column; }

p, h1, h2, h3, h4, h5, h6 {
  margin: 0; }

p {
  padding: 10px 0; }

* {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }

.container {
  width: 100%;
  margin: 0 auto;
  background: transparent;
  flex: 1; }

.header:before {
  content: "";
  display: table;
  clear: both; }

.header {
  background: rgba(35, 50, 103, 0.9);
  margin: 0;
  padding: 0;
  line-height: 0; }
  @media (min-width: 768px) {
    .header {
      background-color: rgba(35, 50, 103, 0.9);
      border: none;
      height: 53.33px;
      padding-top: 15px;
      padding-bottom: 35px;
      /* padding-left: 10px; */ } }
  .header__logo {
    line-height: 24px;
    float: left; }
    @media (min-width: 768px) {
      .header__logo {
        line-height: 24px;
        position: relative; } }
    .header__logo .logo__image {
      max-width: 200px; }
      .header__logo .logo__image img {
        width: 100%; }
  .header:after {
    content: "";
    display: table;
    clear: both; }

.nav {
  display: none;
  text-align: center; }
  @media (min-width: 1024px) {
    .nav {
      display: block;
      float: right;
      margin-left: 10px;
      margin-right: 40px; } }
  .nav__list {
    margin: 0;
    padding: 90px 0 0 0;
    background-color: #fff; }
    @media (min-width: 1024px) {
      .nav__list {
        padding-top: 20px;
        display: inline-block;
        background-color: transparent; } }
  .nav__list-item {
    float: none;
    display: block;
    list-style-type: none;
    margin-right: 0px;
    color: #255f12; }
    @media (min-width: 768px) {
      .nav__list-item {
        float: left;
        margin-left: 30px;
        color: #fff;
        font-size: 12px;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; } }
    .nav__list-item.active a {
      background: transparent; }
      @media (min-width: 768px) {
        .nav__list-item.active a {
          color: white;
          border-bottom: 2px solid #e93e23; } }
    .nav__list-item a {
      display: block;
      padding: 10px 20px;
      color: #255f12;
      text-decoration: none; }
      @media (min-width: 768px) {
        .nav__list-item a {
          padding: 0;
          line-height: 25px;
          font-weight: 700;
          color: #fff; } }

.hidden-list {
  padding: 0;
  display: none; }
  .hidden-list li {
    background: purple;
    float: none;
    padding: 1px;
    line-height: 0; }

.nav__list li:hover .hidden-list {
  display: block;
  height: 0; }

.nav:after {
  content: "";
  display: table;
  clear: both; }

.burger {
  float: right;
  display: block;
  padding: 10px;
  background: transparent; }
  @media (min-width: 1024px) {
    .burger {
      display: none;
      padding: 0; } }

.burger__item {
  width: 40px;
  height: 5px;
  background-color: #fff;
  margin: 6px 0; }

.burger:after {
  content: "";
  display: table;
  clear: both; }

.background {
  background-image: url("../images/img.jpg");
  background-color: #233267;
  overflow: hidden;
  width: 100%; }
  .background img {
    width: 100%; }

.profile__image {
  max-width: 100%;
  margin: 20px auto;
  text-align: center;
  color: #fff;
  line-height: 20px;
  position: relative;
  z-index: 98; }
  @media (min-width: 568px) {
    .profile__image {
      max-width: 50%; } }
  @media (min-width: 1024px) {
    .profile__image {
      max-width: 30%; } }
  .profile__image img {
    width: 100%; }
  .profile__image h4 {
    font-size: 20px;
    line-height: 24px; }

.section__title--center {
  text-align: center;
  margin: 0; }

.section__title--padding {
  padding: 15px 0 25px 0;
  margin: 0;
  color: #ef4926;
  font-size: 32px;
  font-weight: 600; }

.inner__container {
  width: 65%;
  margin: 0 auto;
  background-color: #233267;
  overflow: hidden;
  height: 55vh; }

.section__about-me {
  background-color: #fff;
  background-position: 0 60px;
  padding: 30px 0; }

.academic__section {
  background-image: url("../images/section.png");
  width: 100%;
  background-color: #233267;
  color: #fff;
  padding: 30px 0; }

.academic__images {
  width: 100%; }
  @media (min-width: 768px) {
    .academic__images {
      width: 490px;
      margin: 0 auto; } }
  .academic__images img {
    display: inline-block; }
